<h2>Add a New Hero</h2>
<form novalidate
      name="addHero"
      class="row"
      ng-controller="add_heroCtrl"
      ng-submit="submitAddForm(add.heroname, add.herourl)"
      enter-submit="submitAddForm(add.heroname, add.herourl)">
    <div class="col-md-3">
        <div class="form-group">
            <label for="heroName">Name</label>
            <input id="heroName"
                   class="form-control"
                   type="text"
                   ng-model="add.heroname"
                   name="addHeroName"
                   required
                   focus-on-load>
        </div>
        <image-preview></image-preview>
        <div ng-init="isDisabled = true">
            <input type="button"
                   name="submitForm"
                   class="btn btn-default form-inline"
                   value="Add a New Hero"
                   ng-click="submitAddForm(add.heroname, add.herourl)"
                   ng-disabled="addHero.$invalid"
                   enter-submit="submitAddForm(add.heroname, add.herourl)"/>
            <input type="button" class="btn btn-default form-inline" value="Cancel" ng-click="cancelHeroForm()"/>
        </div>
    </div>
</form>