<div class="form-group">
    <label for="heroImgUrl">URL</label>
    <input id="heroImgUrl"
           class="form-control"
           type="url"
           ng-model="add.herourl"
           name="addUrlName"
           ng-model-options="{ updateOn: 'blur' }"
           required>
    <span style="color:red" ng-if="addHero.addUrlName.$error.url">Not a Valid URL</span>
    <span style="color:red" ng-if="addHero.addHeroName.$dirty && (addHero.addUrlName.$error.required || addHero.addHeroName.$error.required)">Both fields are required</span>
</div>
<img src="{{add.herourl}}">
